.all-requests {
    padding: 20px;
}

.all-requests-heading {
    font-size: 24px;
    font-weight: bold;
}

.booking-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card-booking {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.card-booking h4 {
    margin-top: 0;
}

.card-booking p {
    margin: 5px 0;
}
