.feedback-main-container {
    width: 100%;
    height: 100%;
    background-color: #F6F6FC;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
.feedback-heading{
    font-size: 40px;
    color: #1450a3;
}
.feedback-description {
    padding: 10px 5px 10px 5px;
}
.feedback-form {
    width: 95%;
    padding: 15px;
}
/* .feedback-form p{
    margin-bottom: 15px;
} */
.feedback-main-container hr {
    width: 95%;
    /* background: blue; */
    border: 1px solid #a10686;
}
.feedback-image{
    width: 500px;
}

.feedback-container{
    word-wrap: break-word;
}
.feedback-submit-conatiner{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#feedback-submit {
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 90%;
}
.feedback-form h3{
    margin-top: 10px;
    font-weight: 400;
}
@media only screen and (max-width:1024px) {
    .feedback-image-container{
        display:none;
    }
    .feedback-container{
        background-color: #f6f6fc;
        box-shadow: none;
    }
    .feedback-main-container {
        height: auto;
        margin-top: 30px;
    }
}