.home-page-container{
    padding: 15px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: #F6F6FC; */
    background-color: #f5fafe;
    /* width: 100%; */
    min-height: 100%;
    padding: 5px;
}
.primary-option {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.person-requesting-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: stretch;
}
.donate-now {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 10px;
    width: 93%;
    padding: 15px;
    border-radius: 18px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    word-break: break-word;
    margin: 10px 5px 10px 5px;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
}
.paragraph-donate-now,.heading-donate-now{
    margin-top: 5px;
    padding-left: 7px;
    align-self: flex-start;
}
@media only screen and (min-width:430px) {
    .home-page-container{
        padding: 15px;
    }
    .heading-donate-now{
        align-self: flex-start;
        font-family:"Libre Baskerville" , Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
        font-weight: 600;
    }
}
@media only screen and (max-width:429px) {
    .donate-now {
        width: auto;
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: flex-start;
        align-items: stretch;
        margin-top: 10px;
        width: 95%;
        padding: 5px;
        border-radius: 0px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        word-break: break-word;
        flex-direction: column;
        align-content: center;
        align-items: center; */
    }
    .home-page-container{
        padding: 0px;
    }
    .primary-option {
        justify-content: center;
    }
    .paragraph-donate-now{
        font-size: 14px;
    }
    .heading-donate-now{
        font-size: 15px;
    }
}