.mobile-nav-container{
    display: none;
}
@media only screen and (max-width:430px) {
    .mobile-nav-container {
        display: inline-flex;
        background-color: #1450A3;
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: 999;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        padding: 5px;
    }
    .nav-mobile-item {
        width: 20%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
        color: white;
    }
    .nav-mobile-item-icon {
        display: flex;
        align-items: stretch;
        justify-content: center;
        justify-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        padding: 2px;
        margin-bottom: 3px;
    }
    .mobile-menu-selected{
        background-color: white;
        border-radius: 10px;
        box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
        color: #940686;
        align-items: center;
        width: 50%;
    }
    .nav-mobile-item p{
        font-size: 14px;
    }
}