.parent-container {
    background-color: #f5fafe;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    min-height: 100%;
}
.donor-heading{
    padding: 15px 0px 5px 15px;
    font-size: 28px;
    font-family: "Nunito";
}
.description-donor-details{
    padding: 5px 0px 15px 15px;
    font-size: 18px;
}
.take-deatils-container{
    width: 90%;
    margin: 10px;
    align-self: center;
}
.first-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: center;
    align-items: stretch;
}
.input-area-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.details-area{
    width: 70%;
    margin: 5px;
    height: 25px;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}
.input-area-heading{
    align-self: center;
    width: 89%;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px 0px 5px 0px;
}
.submit-container{
    margin: 20px 5px 10px 5px;
}
.border-container{
    border-right: 1px solid black;
}

@media only screen and (max-width:430px) {
    .border-container{
        border-right: 0px;
    }
    .first-area {
        flex-direction: column;
    }
    .take-deatils-container{
        width: 90%;
        margin: 10px 0px 10px 0px;
    }
    .input-area-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    .input-area-heading{
        align-self: center;
        width: 90%;
    }
    .details-area{
        width: 90%;
        margin: 5px;
        height: 25px;
        padding: 2px 5px 2px 5px;
        border-radius: 5px;
    }
    .description-donor-details{
        padding: 5px 0px 10px 15px;
        font-size: 14px;
    }
    .donor-heading {
        padding: 15px 0px 5px 15px;
        font-size: 18px;
        font-family: "Nunito";
    }
}
.select-box {
    margin: 5px;
    border: #1450A3 1px solid;
    border-radius: 5px;
    padding: 10px;
    width: 89%;
}

@media only screen and (max-width:1024px) {
    .select-box {
        width: 92%;
    }
    
}